<!DOCTYPE html>

<html >

  <head>

    <title>
      BirdwatchingDB
    </title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='Monochrome.svg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='josefinSlab.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='robotoSlab.css') }}">

  </head>

  <body style="background:#fafafa;box-sizing:border-box;" onload="load()">
    <header>
      <span class="header_main"> BirdwatchingDB </span>
      <br/>
      <span class="header_misc"> a collective birdwatching platform</span>
    </header>

    <nav>
      <ul class="main-nav">
        <li><a href="{{ url_for('index_en') }}"> Home </a> </li>
        <li><a href="{{ url_for('about_en') }}"> About </a> </li>
        <li><a href="{{ url_for('contact_en') }}"> Contact </a> </li>
        
        <div class="nav-right">
            <li><a href="{{ url_for('index_el') }}" class="t"><object class="lang-icon"  data="{{ url_for('static',filename='drawing-3.svg') }}" type="image/svg+xml" style="pointer-events:none;" > </object> <span id="lang"> EN </span> </a> </li>
          
            <li><button id="signin"> <span id="signstatus"> 
                {% if session['username'] %}
                 {{session['username']}}
                {% else %}
                 Sign in
                {% endif %}
               </button> </li>
        </div>
      </ul>

    </nav>

    <div id="myModal" class="modal">

        <!-- Modal content -->
       <div class="modal-content">
         
         <div class="modal-header">
           <span class="close">&times;</span>
           <h2>
             {% if session['username'] %}
               Sign out
             {% else %}
               Sign in
             {% endif %}
           </h2>
         </div>
 
         <div class="modal-body">
           {% if session['username'] %}
           <form 
           action="{{url_for('signout')}}" method="post">
           <br>
           <input type="submit" class="submitbutton" value="Sign out">
           </form>
           {% else %}
           <form 
           action="{{url_for('signin')}}" method="post">
           <br>
           <br>
           <label for="uname"><b>Username</b></label>
           <input type="text" placeholder="e.g. Administropoulos" name="uname" required>
 
           <br>
           <br>
           <label for="pwd"><b>Password</b></label>
           <input type="password" placeholder="*******" name="pwd" required>
 
           <br>
           <br>
           <br>
           <input type="submit" class="submitbutton" value="Sign in">
           <input type="reset" class="resetbutton" value="Reset">
           </form>
           {% endif %}
         </div>
 
       </div>
     </div>

    <br>

    <div class="qcontent">
      <div class="card">
        <br>
        <div class="container">

          <a href="{{ url_for('index_en') }}" class="dropbtn" id="menubtn3" onclick="drop(this)" title="Back" style="text-decoration: none;"  onmouseover="  document.getElementById('back').innerHTML='Back'" onmouseout="document.getElementById('back').innerHTML='Results'"><span id="back">Results</span>
          </a> 
          
          &nbsp;
          <table align="center"  class="tableRes">

              <tr class="trRes">
                  <th class="thRes">Username</th>
                  <th class="thRes">Area</th>
                  <th class="thRes">Description Code</th>                  
              </tr>

              {% for x in result[0] %}
              <tr class="trRes">
                <td class="tdRes">
                  {{x[0]}}
                </td>

                <td class="tdRes">
                  {{x[1]}}
                </td>

                <td class="tdRes">
                  {{x[2]}}
                </td>                
               
              </tr>
              {% endfor %}

              {% if result[2]%}
              <tr class="trRes">
                <td class="tdRes">
                
                </td>

                <td class="tdRes">
                  
                </td>
               
              </tr>
              {% endif %}

            </table>  

          <p style="font-family:'Roboto Slab',serif;font-size:9pt;text-align:center;color: #cccccc">
          
          Results for search terms <span style="color: rgba(0,115,204,0.5);">Program Due Day</span>=<span style="color: rgba(0,204,186,0.5);;">{{result[1][0]}}</span> , <span style="color: rgba(0,115,204,0.5);">Program Due Month</span>=<span style="color: rgba(0,204,186,0.5);;">{{result[1][1]}}</span> and <span style="color: rgba(0,115,204,0.5);">Program Due Year</span>=<span style="color: rgba(0,204,186,0.5);;">{{result[1][2]}}</span>
         </p>

          &nbsp;

        </div>
        
        
      </div>
    </div> 



    <footer>
      <div class="foot_text"> Copyright &copy 2019 </div>
    </footer>

    <script>
      var modal = document.getElementById('myModal');
      //document.getElementById("signstatus").innerHTML="Admin";

      // Get the button that opens the modal
      var btn = document.getElementById("signin");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      } 

    </script>
  </body>

</html>